<!DOCTYPE html>
<!--{% load staticfiles %}-->
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--        <script src="{% static 'javascript/friendsCurrentLevelTest.js' %}"></script>-->

    <link href="../../../static/css/base.css" rel="stylesheet">
    <!--        <link rel="stylesheet" href="{% static 'css/base.css' %}">-->
    <title>Test Page</title>
</head>
<body>
<div class="wrapper">
    <div id="navbar">
        <ul>
            <li>
                <form action="">
                    <input id="search" name="booksearch" placeholder="Search..." type="text">
                </form>
            </li>
            <li><a href="">Logout</a></li>
            <li><a href="">Friends</a></li>
            <li><a href="">Home</a></li>
        </ul>
    </div>

    <div id="bodyBlock">
        <div id="bookProfile">
            <div id="pageWrapper">
                <div id="bBook">
                    <div class="content">
                        <img src="https://image.shutterstock.com/image-vector/open-book-vector-clipart-silhouette-260nw-358417976.jpg">
                        <h4>2000 like this</h4>
                        <ul>
                            <li><a href="">Check Out</a></li>
                            <li><a href="">Like</a></li>
                            <li><a href="">Recommend</a></li>
                        </ul>
                    </div>
                </div>
                <div id="infoBlock">
                    <div class="box" id="book">
                        <h3>This is a books title</h3>
                        <div class="items">
                            <p>Books blurb goes here</p>
                        </div>
                    </div>
                    <div class="box" id="location">
                        <h3>Can be found...</h3>
                        <div class="items">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <ul>
            <li><a href="">About</a></li>
            <li><a href="">Contact Us</a></li>
        </ul>
    </div>
</div>
</body>
</html>





