<!DOCTYPE html>
<!--{% load staticfiles %}-->
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--        <script src="{% static 'javascript/friendsCurrentLevelTest.js' %}"></script>-->

    <link href="../../../static/css/base.css" rel="stylesheet">
    <!--        <link rel="stylesheet" href="{% static 'css/base.css' %}">-->
    <title>Test Page</title>
</head>
<body>
<div class="wrapper">
    <div id="navbar">
        <ul>
            <li>
                <form action="">
                    <input id="search" name="booksearch" placeholder="Search..." type="text">
                </form>
            </li>
            <li><a href="">Logout</a></li>
            <li><a href="">Friends</a></li>
            <li><a href="">Home</a></li>
        </ul>
    </div>

    <div id="bodyBlock">
        <div id="viewProfile">
            <div id="pageWrapper">
                <div id="bProfile">
                    <div class="content">
                        <img src="../../../media/profile_images/profileImage1.jpg">
                        <h4>Profile name</h4>
                        <a href="">Add friend</a>
                    </div>
                </div>
                <div id="infoBlock">
                    <div class="box" id="isReading">
                        <h3>is Reading</h3>
                        <div class="items">

                        </div>
                    </div>
                    <div class="box" id="recommends">
                        <h3>recommends</h3>
                        <div class="items">

                        </div>
                    </div>
                    <h4>loves level 8</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <ul>
            <li><a href="">About</a></li>
            <li><a href="">Contact Us</a></li>
        </ul>
    </div>
</div>
</body>
</html>





