<!DOCTYPE html>
<!--{% load staticfiles %}-->
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--        <script src="{% static 'javascript/friendsCurrentLevelTest.js' %}"></script>-->

    <link href="../../../static/css/base.css" rel="stylesheet">
    <link href="../../../static/css/home.css" rel="stylesheet">
    <!--        <link rel="stylesheet" href="{% static 'css/base.css' %}">-->
    <title>Test Page</title>
</head>
<body>
<div class="wrapper">
    <div id="navbar">
        <ul>
            <li>
                <form action="">
                    <input id="search" name="booksearch" placeholder="Search..." type="text">
                </form>
            </li>
            <li><a href="">Logout</a></li>
            <li><a href="">Friends</a></li>
            <li><a href="">Home</a></li>
        </ul>
    </div>

    <div id="bodyBlock">
        <div id="mainProfile">
            <div id="bProfile">
                <div class="content">
                    <img src="../../../media/profile_images/profileImage1.jpg">
                    <h4>Profile name</h4>
                    <p>Edit profile</p>
                </div>
            </div>
            <div id="mFriends">
                <div class="content">
                    your friends...
                </div>
            </div>
            <div id="sidebar">
                <div class="sWig">
                    <h4>sWig</h4>
                    <div class="sWigBlock">

                    </div>
                </div>
                <div class="sWig">
                    <h4>sWig</h4>
                    <div class="sWigBlock">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <ul>
            <li><a href="">About</a></li>
            <li><a href="">Contact Us</a></li>
        </ul>
    </div>
</div>
</body>
</html>





