<!DOCTYPE html>
<!--{% load staticfiles %}-->
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--        <script src="{% static 'javascript/friendsCurrentLevelTest.js' %}"></script>-->

    <link href="../../../static/css/base.css" rel="stylesheet">
    <!--        <link rel="stylesheet" href="{% static 'css/base.css' %}">-->
    <title>Test Page</title>
</head>
<body>
<div class="wrapper">
    <div id="navbar">
        <ul>
            <li>
                <form action="">
                    <input id="search" name="booksearch" placeholder="Search..." type="text">
                </form>
            </li>
            <li><a href="">Logout</a></li>
            <li><a href="">Friends</a></li>
            <li><a href="">Home</a></li>
        </ul>
    </div>

    <div id="bodyBlock">
        <div id="mainSearch">
            <div id="searchPage">
                <div class="header">
                    <h2>Results for x</h2>
                </div>
                <div class="results">
                    <ul>
                        <li>
                            <a href="">
                                <div class="resultWrapper">
                                    <div class="resultImage">
                                        <img alt="Profile Pic 1" src="../../../media/profile_images/profileImage1.jpg">
                                    </div>
                                    <div class="resultText">
                                        Book name
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="resultWrapper">
                                    <div class="resultImage">
                                        <img alt="Profile Pic 1" src="../../../media/profile_images/profileImage1.jpg">
                                    </div>
                                    <div class="resultText">
                                        Book name
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="resultWrapper">
                                    <div class="resultImage">
                                        <img alt="Profile Pic 1" src="../../../media/profile_images/profileImage1.jpg">
                                    </div>
                                    <div class="resultText">
                                        Book name
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="resultWrapper">
                                    <div class="resultImage">
                                        <img alt="Profile Pic 1" src="../../../media/profile_images/profileImage1.jpg">
                                    </div>
                                    <div class="resultText">
                                        Book name
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="resultWrapper">
                                    <div class="resultImage">
                                        <img alt="Profile Pic 1" src="../../../media/profile_images/profileImage1.jpg">
                                    </div>
                                    <div class="resultText">
                                        Book name
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="resultWrapper">
                                    <div class="resultImage">
                                        <img alt="Profile Pic 1" src="../../../media/profile_images/profileImage1.jpg">
                                    </div>
                                    <div class="resultText">
                                        Book name
                                    </div>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <ul>
            <li><a href="">About</a></li>
            <li><a href="">Contact Us</a></li>
        </ul>
    </div>
</div>
</body>
</html>





