{% extends 'libnav/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <div id="about">
        <h2><a href="https://github.com/lab9teamA/library-navigator/">WAD group project</a></h2>
        <ul>
            <li>The main purpose of our web app is to provide students and staff with an easy to use tool that allows them to set their location in the library, which can be visible to everyone, or just their friends.</li>

            <li>Users can view the layout and facilities provided on each floor of the library with official floor plans.</li>

            <li>Users have their own profile and can add their friends.</li>

            <li>Users can view books available in the library and their exact location(floor and shelf) as well as check them out, like them and recommend them to their friends.</li>
        </ul>
    </div>
{% endblock %}