<!DOCTYPE html>
{% load staticfiles %}
{% load libnav_template_tags %}

<html>
    <head>
        <title>
            LibNav -
            {% block title_block %}
                Home
            {% endblock %}
        </title>
    </head>
    <body>
        <div>
            {% block body_block %}
            {% endblock %}
        </div>
        <div>
            {% block sidebar_block %}
                {% get_floor_list floor %}
            {% endblock %}
        </div>
        <hr />
        <div>
            <ul>
                <li><a href="{% url 'libnav:home' %}">Home</a></li>
                <li><a href="{% url 'libnav:map' %}">Map</a></li>
            {% if user.is_authenticated %}
               <li><a href="{% url 'libnav:profile' %}">My Profile</a></li>
            {% else %}
                <li><a href="{% url 'libnav:login' %}">Login</a></li>
            {% endif %}
                <li><a href="{% url 'libnav:about' %}">About</a></li>
            </ul>
        </div>
    </body>
</html>