<!DOCTYPE html>
{% load staticfiles %}
{% load libnav_template_tags %}

<html>
    <head>
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        <title>
            LibNav -
            {% block title_block %}
                Home
            {% endblock %}
        </title>
    </head>
<body>
    <div class="wrapper">
        <div id="navbar">
            <ul>
                <li>
                    <form action="">
                        <input id="search" name="booksearch" placeholder="Search..." type="text">
                    </form>
                </li>
                <li><a href="{% url 'libnav:home' %}">Home</a></li>
                <li><a href="{% url 'libnav:map' 1 %}">Map</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'libnav:profile' request.user.username %}">My profile</a></li>
                <li><a href="{% url 'libnav:logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'libnav:login' %}">Log in</a></li>
                {% endif %}
            </ul>
        </div>
        <div id="bodyBlock">
            {% block body_block %}

            {% endblock %}
        </div>
        <div>
            {% block sidebar_block %}
{#                {% get_floor_list floor %}#}
            {% endblock %}
        </div>
        <hr />
        <div class="footer">
            <ul>
                <li><a href="{% url 'libnav:about' %}">About</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </div>
    </div>
</body>
</html>