{% extends 'libnav/base.html' %}
{% load staticfiles %}
{% load libnav_template_tags %}

{% block title_block %}
{% if book %}
{{ book.title }}
{% else %}
Unknown Book
{% endif %}
{% endblock %}

{% block body_block %}


<script src="{% static 'javascript/bookPageButtons.js' %}"></script>
<script type="text/javascript">
	var flags = {{ flags | set_variables }};
</script>

<div id="bookProfile">
    {% if book %}
    <div id="pageWrapper">
        <div id="bBook">
            <div class="content">
                {% if book.coverImage %}
                <img src="{{MEDIA_URL}}{{book.coverImage}}" alt="{{book.title}}">
                {%else%}
                <img src="https://image.shutterstock.com/image-vector/open-book-vector-clipart-silhouette-260nw-358417976.jpg">
                {%endif%}
                <h4><p id="likes">{{ book.likes }} like this</p></h4>
				{% if user.is_authenticated %}
                <ul>
					{% if checked_out and not flags.checkout %}
						<li>Currently not available for checkout</li>
					{% else %}
						<li id="checkoutButton"><button onclick="updateBook('checkout', 1)">Check Out</button></li>
						<li id="checkinButton" hidden><button onclick="updateBook('checkout', -1)">Check In</button></li>
					{% endif %}
                    <li id="likeButton"><button onclick="updateBook('like', 1)">Like</button></li>
					<li id="unlikeButton" hidden><button onclick="updateBook('like', -1)">Remove Like</button></li>
                    <li id="recommendButton"><button onclick="updateBook('recommend', 1)">Recommend</button></li>
					<li id="unrecommendButton" hidden><button onclick="updateBook('recommend', -1)">Remove Recommendation</button></li>
                </ul>
				{% endif %}
            </div>
        </div>
        <div id="infoBlock">
            <h2>{{ book.title }}</h2>
            <p>{{book.author}}</p>
            <div class="box" id="book">
                <p>{{book.description}}</p>
            </div>
            <div class="box" id="location">
                <p>published {{book.publishDate}}</p>
                <p>this book can be found at bookcase {{bookcase.id}} on <a
                        href="{% url 'libnav:map' bookcase.floor.number %}">floor {{bookcase.floor.number}}</a></p>

            </div>
        </div>
    </div>
    {% else %}
    Unknown Book
    {% endif %}

</div>

{% endblock %}