{% extends 'libnav/base.html' %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}
<div id="mainHome">
    <div id="header">
        <br />
        <h1>Welcome to the home page of library navigator</h1>
    </div>
    <div class="header">
        <h3>Popular books in the library</h3>
    </div>
    {%if popular %}
    <div class="mPanel">
        <div id="pBooksBlock" class="selection">
            <div class="bookWrapper">
                {% for book in popular %}
                <div class="gallery">
                    <a href="{% url 'libnav:book' book.ISBN %}">
                        <img class="displayImage" src="{{MEDIA_URL}}{{book.coverImage}}" alt="{{book.title}}">
                        <div class="desc">
                            <div class="text">{{book.title}}</div>
                        </div>
                    </a>
                </div>
                {%endfor%}

            </div>
        </div>
    </div>
    {%endif%}
    <br />
    <div class="header">
        <h3>People like reading</h3>
    </div>
    <div class="mPanel">
        <div id="pReadingBlock" class="selection">
            <div class="bookWrapper">
                {%if popular%}
                {%for book in popular%}
                    <div class="gallery">
                        <a href="{% url 'libnav:book' book.ISBN %}">
                            <img class="displayImage" src="{{MEDIA_URL}}{{book.coverImage}}" alt="{{ book.title }}">
                            <div class="desc">
                                <div class="text">{{ book.title }}</div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                {% endif %}
        </div>
    </div>
</div>
</div>
{% endblock %}