{% extends 'libnav/base.html' %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}
<div>
    welcome to the home page of library navigator
</div>
<div class="sWig">
    <h4>Popular books in the library</h4>
    <div id="pBooksBlock">
        <ul>
            <!--Will be dynamically loaded-->
            <li>The Bible</li>
            <li>Cheryl - My Story</li>
            <li>Test book</li>
            <li>Test book</li>
        </ul>
    </div>
</div>
<div class="sWig">
    <h4>People like reading</h4>
    <div id="pBooksBlock">
        <ul>
            <!--Will be dynamically loaded-->
            <li>The Bible</li>
            <li>Cheryl - My Story</li>
            <li>Test book</li>
            <li>Test book</li>
        </ul>
    </div>
</div>
{% endblock %}