{% extends 'libnav/base.html' %}
{% load staticfiles %}
{% load libnav_template_tags %}

{% block title_block %}
{% if floor %}
    Floor {{floor.number}}
{%else%}
    the floor you are trying to find does not exist.
{% endif %}
{% endblock %}

{% block body_block %}
{% if floor %}
<div class="main">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static "javascript/Markers.js" %}"></script>
    <script src="{% static "javascript/floorScroll.js" %}"></script>
    <div class="child" id="mainbody">
        <div class="mainWrapper">
            <div id="scrollBar">
                <ul id="floorList">

                </ul>
            </div>
            <div id="imageLoc">
                <canvas id="canvas"></canvas>
            </div>
        </div>
    </div>
    <div class="child" id="sidebar">
    <div id="busyness">
        <h5>Busyness</h5>
        <!--Will be dynamically loaded-->
        <span class="dot-on"></span>
        <span class="dot-on"></span>
        <span class="dot-on"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
    <a href="{% url 'libnav:map' floor.number|add:"1" %}">up a floor</a>
    <a href="{% url 'libnav:map' floor.number|add:"-1"  %}">down floor</a>
    {% if user.is_authenticated %}
    <div class="sWig">
        <h4>Friends on this level</h4>
        <div id="cFriendsInd">
            <ul>
                <!--Will be dynamically loaded-->
                <li><img alt="Profile Pic 1" src="/../../media/profile_images/profileImage1.jpg">Billybob - 5
                    mins ago
                </li>
                <li><img alt="Profile Pic 2" src="/../../media/profile_images/profileImage2.jpg">suizy - 2 hrs
                    ago
                </li>
                <li><img alt="EMPTY" src="/../../media/profile_images/NONE.jpg">Test user</li>
                <li><img alt="EMPTY" src="/../../media/profile_images/NONE.jpg">Test user</li>
                <li><img alt="EMPTY" src="/../../media/profile_images/NONE.jpg">Test user</li>
                <li><img alt="EMPTY" src="/../../media/profile_images/NONE.jpg">Test user</li>
            </ul>
        </div>
    </div>
    {%endif%}
    <div class="sWig">
        <h4>Popular books on this level</h4>
        <div id="pBooksBlock">
        {% if books %}
        {%for book in books%}
            <li>
                <a href="{% url 'libnav:book' book.ISBN %}">{{ book.title }}</a>
            </li>
        {%endfor%}
        {% else %}
            There are no books on this floor
        {% endif %}
        </div>
    </div>
    </div>

    {%else%}
    <h1>
        the floor you are trying to find does not exist.
        <a href="{% url 'libnav:map' 1 %}">go to floor 1</a>
    </h1>
    {% endif %}
</div>
{% endblock %}