{% extends 'libnav/base.html' %}
{% load staticfiles %}
{% load libnav_template_tags %}

{% block title_block %}
{% if floor %}
    Floor {{floor.number}}
{%else%}
    the floor you are trying to find does not exist.
{% endif %}
{% endblock %}

{% block body_block %}
    {{ user|json_script:"user-id" }}
	{{ floor.number|json_script:"floor_number" }}
    {{ floor.mapName|json_script:"floor_map" }}
    {{ MEDIA_URL|json_script:"media_url" }}
{% if floor %}
<div class="main">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static "javascript/Markers.js" %}"></script>
    <div class="child" id="mainbody">
        <div class="mainWrapper">
            <div id="scrollBar">
                <ul id="floorList">
                    {% for i in 12|floor_range %}
                        {% if i == floor.number%}
                            {%if i != 12%}
                                <li><a href="{% url 'libnav:map' floor.number|add:"1"  %}" class="arrow" id="arrow-up"></a></li>
                            {%endif%}

                            <li><a href="{% url 'libnav:map' i  %}">{{i}}</a></li>

                            {% if i != 1%}
                                <li><a href="{% url 'libnav:map' floor.number|add:"-1" %}" class="arrow" id="arrow-down"></a></li>
                            {%endif%}

                        {%else%}
                            <li><a href="{% url 'libnav:map' i  %}">{{i}}</a></li>
                        {%endif%}
                    {% endfor %}
                </ul>
            </div>
            <div id="imageLoc">
                <canvas id="canvas"></canvas>
            </div>
        </div>
    </div>
    <div class="child" id="sidebar">
    <div id="busyness">
        <h5>Busyness</h5>
        {% for x in business %}
            <span class="dot-on"></span>
        {% endfor %}
        {% for x in unbusiness %}
            <span class="dot"></span>
        {% endfor %}
    </div>
    {% if request.user.is_authenticated %}
    <div class="sWig">
        <h4>Friends on this level</h4>
        <div id="cFriendsInd">
			{% show_friends request.user floor.number %}
        </div>
    </div>
    {%endif%}
    <div class="sWig">
        <h4>Popular books on this level</h4>
        <div id="pBooksBlock">
        {% if books %}
        {%for book in books%}
            <li>
                <a href="{% url 'libnav:book' book.ISBN %}">{{ book.title }}</a>
            </li>
        {%endfor%}
        {% else %}
            There are no books on this floor
        {% endif %}
        </div>
    </div>
    </div>

    {%else%}
    <h1>
        the floor you are trying to find does not exist.
        <a href="{% url 'libnav:map' 1 %}">go to floor 1</a>
    </h1>
    {% endif %}
</div>
{% endblock %}