{% extends 'libnav/base.html' %}

{% block title_block %}
{% if user %}
    {{ user.username }}
{% else %}
    Unknown Profile
{% endif %}
{% endblock %}

{% block body_block %}


<div class="child" id="mainbody">
    <h1>
        {% if user %}
            {{ user.username }}
        {% else %}
            Unknown profile
        {% endif %}
        </h1>
    <div id = "imageProfile">
        <img src = "{{ MEDIA_URL }}/{{userProfile.picture.path}}" alt="{{user.username}}'s profile photo">
    </div>
    <a href="{{userProfile.website}}">{{userProfile.website}}</a>
    <br />
    <div id = "mainbodyPara">
        {{userProfile.description}}
    </div>
</div>
<div class="child" id="sidebar">
    {%if friends%}
    <div class="sWig">
        <h4>your friends</h4>
        <div id="cFriendsInd">
        {%for friend in friends%}
            <li>
                <a href="{% url 'libnav:profile' friend.username %}">{{friend.username}}</a>
            </li>
        {%endfor%}
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}