{% extends 'libnav/base.html' %}

{% block title_block %}
{% if user %}
    {{ user.username }}
{% else %}
    Unknown Profile
{% endif %}
{% endblock %}

{% block body_block %}

<div id="viewProfile">
    <div id="pageWrapper">
        <div id="bProfile">
            <div class="content">
                {% if userProfile.picture %}
                <img alt="{{user.username}}'s profile photo" src="{{ MEDIA_URL }}/{{userProfile.picture.path}}">
                {% else %}
                <img alt="{{user.username}}'s profile photo" src="{{ MEDIA_URL }}profile_images/NONE.jpg">
                {% endif %}
                <h4>
                    {% if user %}
                    {{ user.username }}
                    {% else %}
                    Unknown profile
                    {% endif %}
                </h4>
                <a href="{{userProfile.website}}">{{userProfile.website}}</a>
                <a href="">Add friend</a>
                <!--    Not sure if this is necessary -->
                <!--    <br />-->
                <!--    <div id = "mainbodyPara">-->
                <!--        {{userProfile.description}}-->
                <!--    </div>-->
            </div>
        </div>
        <div id="infoBlock">
            <div class="box" id="isReading">
                <h3>{{user.username}} is Reading</h3>
                <div class="items">
                    {%for book in recommended%}
                    <li>
                        <a href="{% url 'libnav:book' book.ISBN %}">{{ book.title }}</a>
                    </li>
                    {%endfor%}
                </div>
            </div>
            <div class="box" id="recommends">
                <h3>{{user.username}} recommends</h3>
                <div class="items">
                    {%for book in reading%}
                    <li>
                        <a href="{% url 'libnav:book' book.ISBN %}">{{ book.title }}</a>
                    </li>
                    {%endfor%}
                </div>
            </div>
            <h4>loves level 8</h4>
        </div>
    </div>
</div>
{% endblock %}