{% extends 'libnav/base.html' %}

{% block title_block %}
{% if user %}
    {{ user.username }}
{% else %}
    Unknown Profile
{% endif %}
{% endblock %}

{% block body_block %}

<div id="viewProfile">
    <div id="pageWrapper">
        <div id="bProfile">
            <div class="content">
                {% if userProfile.picture %}
                <img alt="{{user.username}}'s profile photo" src="{{ MEDIA_URL }}/{{userProfile.picture.path}}" style="width: 100%;">
                {% else %}
                <img alt="{{user.username}}'s profile photo" src="{{ MEDIA_URL }}profile_images/NONE.jpg">
                {% endif %}
                <h2>
                    {% if user %}
                    {{ user.username }}
                    {% else %}
                    Unknown profile
                    {% endif %}
                </h2>
                <a href="{{userProfile.website}}">{{userProfile.website}}</a>
                <div id = "description">
                    {{userProfile.description}}
                </div>
                {% if notFriends %}
                <a href="{% url 'libnav:send friend request' user.username %}">send friend request</a>
                {% elif auth%}
                    <a href="{% url 'libnav:delete friend' user.username %}">delete friend</a>

                {%endif%}
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                        {% endfor %}
                    </ul>
                {% endif %}
                
            </div>
        </div>
        <div id="infoBlock">
            <div class="box" id="isReading">
                <h3>{{user.username}} is reading</h3>
                <div class="list">
                    <ul>
                    {%for book in reading%}
                    <li>
                        <a href="{% url 'libnav:book' book.ISBN %}">{{ book.title }}</a>
                    </li>
                    {%endfor%}
                    </ul>
                </div>
            </div>
            <div class="box" id="recommends">
                <h3>{{user.username}} recommends</h3>
                <div class="list">
                    <ul>
                    {%for book in recommended%}
                    <li>
                        <a href="{% url 'libnav:book' book.ISBN %}">{{ book.title }}</a>
                    </li>
                    {%endfor%}
                    </ul>
                </div>
            </div>
            <h4>{{user.username }} loves {{userProfile.favouriteFloor}}</h4>
        </div>
    </div>
</div>
{% endblock %}