{% extends 'libnav/base.html' %}
{% load staticfiles %}
{% load libnav_template_tags %}

{% block title_block %}
search
{% endblock %}

{% block body_block %}
<div class="child" id="mainSearch">
    <div id="searchPage">
        <div class="header">
            <h2>Results for: {{term}}</h2>
        </div>
        <div class="results">
            <ul>
                {%if books%}
                {% for book in books%}
                <li>
                    <a href="{% url 'libnav:book' book.ISBN %}">
                        <div class="resultWrapper">
                            <div class="resultImage">
                                <img src="{{MEDIA_URL}}{{book.coverImage}}" alt="{{ book.title }}">
                            </div>
                            <div class="resultText">
                                {{book.title}}
                            </div>
                        </div>
                    </a>
                </li>
                {%endfor%}
                {%elif users%}
                {% for user in users%}
                <li>
                    <a href="{% url 'libnav:profile' user.username %}">
                        <div class="resultWrapper">
                            <div class="resultImage">
                                <img src="{{MEDIA_URL}}{{user.picture}}" alt="{{ user.username }}">
                            </div>
                            <div class="resultText">
                                {{ user.username }}
                            </div>
                        </div>
                    </a>
                </li>
                {%endfor%}
                {%endif%}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
