<!DOCTYPE html>
<!--{% load staticfiles %}-->
<html lang="en">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!--        <script src="{% static 'javascript/friendsCurrentLevelTest.js' %}"></script>-->

	<link href="../../static/css/base.css" rel="stylesheet">
	<!--        <link rel="stylesheet" href="{% static 'css/base.css' %}">-->
	<title>Test Page</title>
</head>
<body>
<div class="wrapper">
	<div id="navbar">
        <ul>
			<li>
				<form action="">
					<input id="search" name="booksearch" placeholder="Search..." type="text">
				</form>
			</li>
			<li><a href="">Logout</a></li>
			<li><a href="">Friends</a></li>
			<li><a href="">Home</a></li>
		</ul>
    </div>
  
	<div class="main">
		<div class="child" id="mainbody">
			<div id="imageLoc">
				<!--Will be dynamically loaded-->
				<!--				<img src="{{ MEDIA_URL }}floorplans/Level1.jpg">-->
			</div>
			<div id="mainbodyPara">
				<p>on this floor? <a href="">check in</a> so others can see</p>
			</div>
		</div>
		
		<div class="child" id="sidebar">
			<div id="busyness">
				<h5>Busyness</h5>
				<!--Will be dynamically loaded-->
				<span class="dot-on"></span>
				<span class="dot-on"></span>
				<span class="dot-on"></span>
				<span class="dot"></span>
				<span class="dot"></span>
			</div>

			<div class="sWig">
				<h4>Friends on this level</h4>
				<div id="cFriendsInd">
					<ul>
						<!--Will be dynamically loaded-->
						<li><img alt="Profile Pic 1" src="../../media/profile_images/profileImage1.jpg">Billybob - 5
							mins ago
						</li>
						<li><img alt="Profile Pic 2" src="../../media/profile_images/profileImage2.jpg">suizy - 2 hrs
							ago
						</li>
						<li><img alt="EMPTY" src="../../media/profile_images/NONE.jpg">Test user</li>
						<li><img alt="EMPTY" src="../../media/profile_images/NONE.jpg">Test user</li>
						<li><img alt="EMPTY" src="../../media/profile_images/NONE.jpg">Test user</li>
						<li><img alt="EMPTY" src="../../media/profile_images/NONE.jpg">Test user</li>
					</ul>
				</div>
			</div>

			<div class="sWig">
				<h4>Popular books on this level</h4>
				<div id="pBooksBlock">
					<ul>
						<!--Will be dynamically loaded-->
						<li>The Bible</li>
						<li>Cheryl - My Story</li>
						<li>Test book</li>
						<li>Test book</li>
						<li>Test book</li>
						<li>Test book</li>
						<li>Test book</li>
						<li>Test book</li>
						<li>Test book</li>
						<li>Test book</li>
						<li>Test book</li>
						<li>Test book</li>
						<li>Test book</li>
						<li>Test book</li>
						<li>Test book</li>
						<li>Test book</li>
						<li>Test book</li>
						<li>Test book</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="footer">
		<ul>
			<li><a href="">About</a></li>
			<li><a href="">Contact Us</a></li>
		</ul>
	</div>
</div>
</body>
</html>