<!DOCTYPE html>
<!--{% load staticfiles %}-->
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--        <script src="{% static 'javascript/friendsCurrentLevelTest.js' %"></script>-->
    <script src="../../static/javascript/friendsCurrentLevelTest.js"></script>

    <title>Test Page</title>
</head>
<body>
<div id="test">
    <h2>Test to be changed</h2>
    <button onclick="loadDoc()" type="button">Change Content</button>
</div>
<textarea cols="50" rows=“10"> Enter text </textarea>
</body>
</html>