html,

body {
	height: 100%;
	margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--light-blue);
}
:root{
    --lightest-blue: #E6EEF4;
    --light-blue: #B6D2E7;
    --blue: #5D90B7;
    --dark-blue: #306A97;
    --darkest-blue: #124B77;
    --midnight: #042B49;
    --yellow: #EBCD3F;
    --red: #B91212;
}

.wrapper {
	display: flex;
	flex-flow: column;
	height: 100%;
	overflow: hidden;
}

.main {
	display: flex;
	flex-flow: row;
	width: 90%;
    margin: auto;
}

.wrapper div {
    /* remove at end maybe*/
	/*border: 2px solid var(--blue);*/
}



.wrapper #navbar {
	flex: 0 1 auto;
    background-color: var(--dark-blue);
    border: 2px solid var(--dark-blue);
    box-shadow: 0 0 3px var(--blue), 0 0 5px var(--midnight);
    position:sticky;
}

.wrapper #navbar ul {
	margin: 0;
}

.wrapper #navbar li {
    float: right;
    list-style-type: none;
    margin: 0;
}

.wrapper #navbar a {
    float: left;
    color: var(--lightest-blue);
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 15px;
}

.wrapper #navbar form {
    float: left;
    color: var(--lightest-blue);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

.wrapper #navbar input {
    height: fit-content;
    text-align: left;
    font-size: 12px;
    background-color: var(--lightest-blue);
    color: var(--darkest-blue);
    border: 5px solid var(--lightest-blue);
    border-radius: 2px;
}

.wrapper #navbar a:hover {
    background-color: var(--lightest-blue);
    color: var(--dark-blue);
    border-radius: 2px 2px 5px 5px;

}



.wrapper .main {
	flex: 1 1 auto;
}



.wrapper .footer {
    border-top: 2px solid transparent;
	flex: 0 1 40px;
}

.wrapper .footer ul {
	margin: 0;
}

.wrapper .footer li {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.wrapper .footer a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

/*---------------*/
/* MAP PAGE CSS */
/*---------------*/


.main {
    height: 100%;
}

.main .child {
    margin: 10px;
}

.main #mainbody {
    flex: 4 0 0;
    display: flex;
    flex-flow: column;
}

.main #mainbody .mainWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}


.main #mainbody #imageLoc {
    width: 95%;
    height: 100%;
}


#floorList {
    list-style-type: none;
    text-align: center;
    align-content: center;
    font-size: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#floorList a{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

#scrollBar {
    width: 5%;
    height: 100%;
    text-align: center;

}

.arrow {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    align-content: center;
    display: inline-block;
}

#arrow-down {
    border-top: 20px solid #f00;
}

#arrow-up {
    border-bottom: 20px solid #f00;
}


.main #mainbody #imageLoc img {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.main #mainbody #imageProfile img{
    max-width: 25%;
    max-height: 25%;
}

.main #mainbody #mainBodyPara {
	flex: 0 1 auto;
}

.main #mainbody p {
	margin-left: 16px;
	margin-right: 16px;
}

.main #sidebar {
	flex: 1 0 0;
	display: flex;
	flex-flow: column;
}

.main #sidebar #busyness {
	flex: 0 1 auto;
    text-align: center;
}

.main #sidebar #busyness h5 {
    padding: 0 0 0 0;
    margin: 0;
    text-align: center;
}

.main #sidebar .sWig {
    flex: 1 1 0;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}

.main #sidebar .sWig h4 {
    padding: 0 0 0 15px;
    margin: 5px 0 0 0;
    flex: 0 1 0;
}

.main #sidebar .sWig div {
    flex: 1 1 0;
}

.main #sidebar .sWig img {
	max-width: 40px;
    max-height: 40px;
}

.main #sidebar .sWig #cFriendsInd,
.main #sidebar .sWig #pBooksBlock {
    padding: 0 0 0 0;
    margin: 10px 0 10px 0;
    background: var(--lightest-blue);
    border: 2px solid var(--lightest-blue);
    border-radius: 5px;
    overflow: scroll;
    overflow-x: hidden;
}

.main .mPanel #pBooksBlock,
.main .mPanel #pReadingBlock {
    background-color: yellow;
}

.dot {
    height: 25px;
    width: 25px;
    border: 2px solid var(--midnight);
    border-radius: 50%;
    display: inline-block;
}

.dot-on {
    height: 25px;
    width: 25px;
    border: 2px solid var(--midnight);
    background-color: var(--yellow);
    border-radius: 50%;
    display: inline-block;
}


/*---------------*/
/* HOME PAGE CSS */
/*---------------*/

#bodyBlock {
    height: 100%;
}


#bodyBlock #mainHome {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bodyBlock #mainHome #header {
    height: 10%;
    width: 80%;
    text-align: center;
    color:var(--darkest-blue);

}
#bodyBlock #mainHome #header h1{
    margin: 0;
    padding: 0;
    font-weight: 600;
}

#bodyBlock #mainHome .header{
    width: 70%;
    color: var(--midnight);
}
#bodyBlock #mainHome .header h3{
    margin: 5px;
    padding: 0;
}

#bodyBlock #mainHome .mPanel {
    height: 40%;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0;
    /*border: 2px solid var(--blue);*/
    border-radius: 15px;
    box-shadow: 0 0 3px var(--lightest-blue), 0 0 5px var(--darkest-blue);
}

#bodyBlock #mainHome .mPanel .selection {
    height: 100%;
    background-color: var(--lightest-blue);
    border-radius: 15px 15px 15px 15px;
    display: flex;
    justify-content: center;
    align-content: center;
}

#bodyBlock #mainHome .mPanel .selection .bookWrapper{
    height: 95%;
    width: 95%;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.gallery {
    margin-right: 10px;
    border: 2px solid var(--light-blue);
    background-color: var(--light-blue);
    border-radius: 15px;
    box-shadow: 0 0 3px var(--light-blue), 0 0 5px var(--lightest-blue);
    width: 20%;
    height: 50%;
    position: relative;
}

.gallery .displayImage {
    max-height:100%;
    max-width:100%;
    display:block;
    margin:auto;
}
.desc{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease ;
    background-color: var(--light-blue);
    border-radius: 10px;
 }
.gallery:hover .desc {
    opacity: 1;
}

.text {
    color: var(--midnight);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}



/*---------------*/
/* SEARCH PAGE CSS */
/*---------------*/

#mainSearch div {
    /*border: 2px solid black;*/
}

#mainSearch{
    color: var(--darkest-blue);
    height: 90%;
    width: 100%;
    max-height: 90%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

#mainSearch #searchPage{
    width: 80%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

#mainSearch #searchPage .header h2{
    padding: 0;
    margin-left: 3%;
}


#mainSearch #searchPage .results{
    border-radius: 15px 15px 15px 15px;
    border: 2px solid var(--lightest-blue);
    height: 100%;
    background: var(--lightest-blue);
    overflow-x: hidden;
    box-shadow: 0 0 3px var(--lightest-blue), 0 0 5px var(--darkest-blue);
}

#mainSearch #searchPage .results ul{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#mainSearch #searchPage .results ul li{
    margin: 10px;
    padding: 5px;
    height: 200px;
    border: 2px solid var(--dark-blue);
    background-color: var(--light-blue);
    border-radius: 5px;
    overflow: hidden;
}
#mainSearch #searchPage .results ul li a {
    text-decoration: none;
}
#mainSearch #searchPage .results ul li img {
    height: 200px;
    width: 200px;
    margin: auto;
    border-radius: 5px;
}
#mainSearch #searchPage .results .resultWrapper .resultImage{
    height: 50%;
}



#mainSearch #searchPage .results .resultWrapper{
    display: flex;
}

#mainSearch #searchPage .results .resultWrapper .resultText{
    width: 100%;
    align-content: center;
    padding: 2%;
}
#mainSearch #searchPage .results .resultWrapper .resultText .text-content{
    font-size: 1.5em;
}



/*TODO
    the footer just disappears no idea why
 */



/*---------------*/
/* LOGGED PROFILE PAGE CSS */
/*---------------*/


#bodyBlock #mainProfile div{
    /*border: 2px solid black;*/
}

#bodyBlock #mainProfile {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#bodyBlock #mainProfile #pageWrapper {
    height: 80%;
    display: flex;
    flex-direction: row;
    width: 100%;
}


#bodyBlock #mainProfile #pageWrapper #bProfile{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#sidebar {
    width: 30%;
    height: 100%;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#bodyBlock #mainProfile #pageWrapper #bProfile .profileContent{
    padding: 10px;
    margin: auto;
}

#bodyBlock #mainProfile #pageWrapper #bProfile .profileContent img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 3px var(--blue), 0 0 5px var(--darkest-blue);
}

#bodyBlock #mainProfile #pageWrapper .mFriends {
    width: 100%;
    height: auto;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
}

#bodyBlock #mainProfile #pageWrapper .content{
    color: var(--darkest-blue);
    width: 45%;
    height: 50%;
    padding:10px;
    margin: 10px;
}

#bodyBlock #mainProfile #pageWrapper .profileContent {
    color: var(--dark-blue);
    width: 60%;
    height: auto;
    text-align: center;
    margin: auto;
    padding-top: 30px;
    border-radius: 15px;
}

#bodyBlock #mainProfile #pageWrapper .content .list{
    height: 100%;
    width: 95%;
    padding:10px;
    background: var(--lightest-blue);
    border-radius: 5px 15px 15px 15px;
    box-shadow: 0 0 3px var(--light-blue), 0 0 5px var(--darkest-blue);
}

#bodyBlock #pageWrapper .list ul{
    list-style-type: '-';
    padding: 0;
    margin-left: 2%;
}

#bodyBlock #pageWrapper .list #friendRequests a{
    font-size: 1.3em;
    text-decoration: none;
}

#bodyBlock #pageWrapper .list #friendRequests button{
    padding: 3px;
}


#bodyBlock #mainProfile #pageWrapper .content .list li{
    padding: 5px;
}


/*---------------*/
/* VIEW PROFILE PAGE CSS */
/*---------------*/


#bodyBlock #viewProfile {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}

#bodyBlock #viewProfile #pageWrapper {
    height: 80%;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#bodyBlock #viewProfile #pageWrapper #bProfile {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 3% 0 0;
}


#bodyBlock #viewProfile #pageWrapper #bProfile .content {
    color: var(--midnight);
    padding:10px;
    margin: auto;
    width:100%;
    text-align: center;
}

#bodyBlock #viewProfile #pageWrapper #bProfile .content img {
    border-radius: 15px;
    box-shadow: 0 0 3px var(--blue), 0 0 5px var(--dark-blue);
}
#bodyBlock #viewProfile #pageWrapper #bProfile .content h2 {
    color: var(--darkest-blue);
}

#bodyBlock #viewProfile #pageWrapper #bProfile .content #description{
    margin: 10px 0 10px 0;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--lightest-blue);
    box-shadow: 0 0 3px var(--lightest-blue), 0 0 5px var(--dark-blue);
    color:var(--midnight);
    overflow-wrap: break-word;
}
#bodyBlock #viewProfile #pageWrapper #bProfile .content a {
    color: var(--lighest-blue);
    padding: 5px;
    text-decoration: none;
}

#bodyBlock #viewProfile #pageWrapper #infoBlock {
    color: var(--darkest-blue);
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

#bodyBlock #viewProfile #pageWrapper #infoBlock h4 {
    margin: auto;
}

#bodyBlock #viewProfile #pageWrapper #infoBlock .box {
    display: flex;
    flex-direction: column;
    height: 50%;
    margin:10px;
    padding: 10px;
}

#bodyBlock #viewProfile #pageWrapper #infoBlock .box h3 {
    padding: 10px;
    margin: 0;
}

#bodyBlock #viewProfile #pageWrapper #infoBlock .box .list {
    height: 100%;
    background: var(--lightest-blue);
    padding: 10px;
    border-radius: 5px 15px 15px 15px;
    box-shadow: 0 0 3px var(--light-blue), 0 0 5px var(--dark-blue);
}
#bodyBlock #viewProfile #pageWrapper #infoBlock .box .list li{
    padding: 5px;
    font-size: large;
}


/*---------------*/
/* BOOK PROFILE PAGE CSS */
/*---------------*/


#bodyBlock #bookProfile {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#bodyBlock #bookProfile #pageWrapper {
    height: 80%;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;


}

#bodyBlock #bookProfile #pageWrapper #bBook {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 3% 0 0;
}

#bodyBlock #bookProfile #pageWrapper #bBook .content {
    height: 100%;
    margin:auto;
    align-items: center;
}

#bodyBlock #bookProfile #pageWrapper #bBook .content h4 {
    padding: 0;
    margin: 0;
    text-align: center;
}

#bodyBlock #bookProfile #pageWrapper #bBook .content img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 3px var(--blue), 0 0 5px var(--darkest-blue);
}


#bodyBlock #bookProfile #pageWrapper #bBook .content ul {
    list-style: none;
    text-align: center;

}

#bodyBlock #bookProfile #pageWrapper #bBook .content ul li {
    margin: 0 0 5% 0;

}

#bodyBlock #bookProfile #pageWrapper #infoBlock {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    color: var(--midnight)
}

#bodyBlock #bookProfile #pageWrapper #infoBlock h2, p {
    padding: 10px;
    margin: 0;
}

#bodyBlock #bookProfile #pageWrapper #infoBlock .box {
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: 100%;
    background: var(--lightest-blue);
    border-radius: 15px;
    box-shadow: 0 0 3px var(--lightest-blue), 0 0 5px var(--darkest-blue);
    margin-bottom: 10px;
    margin-top: 10px;
    
}

#bodyBlock #bookProfile #pageWrapper #infoBlock #location {
    height: 30%;
}

#bodyBlock #bookProfile #pageWrapper #infoBlock #book {
    height: 70%;
}


#bodyBlock #bookProfile #pageWrapper #infoBlock .box .items {
    
}


/*---------------*/
/* LOGIN PAGE CSS */
/*---------------*/

#bodyBlock #loginPage {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bodyBlock #loginPage div {
    border-style: none;
}

#bodyBlock .lrBlock {
    height: 90%;
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    justify-content: center;

}

#bodyBlock .lrBlock .lrWrapper {
    width: 60%;
    height: 100%;
    border-radius: 20px;

}


#bodyBlock #loginPage .lrBlock h1 {
    font-weight: 600;
    padding: 0;
}

.errorList{
    padding: 0;
    margin: 0;
    list-style: none;
}


.input-container {
    height: 50px;
    position: relative;
    width: 80%;
    margin-top: 30px;
}

#bodyBlock .lrBlock .lrWrapper #pic{
    height: 50px;
    position: relative;
    width: 80%;
    margin: 0;
}
.input {
    background-color: var(--lightest-blue);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
    resize: none;
}

/* Not sure why it only works by itself (no parent hierarchy)*/
/* Reset is only for login.html */
.cut {
    background-color: var(--light-blue);
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}

#floorSelector{
    width: 100px;
}

.cut-short {
    width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
}

.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
}

.input:focus ~ .placeholder {
    color: black;
}

.submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 80%;
}

.submit:active {
    background-color: #06b;
}


.file-input {
    padding: 0;
    margin: 0;
}

/* EDIT PROFILE PAGE */


#bodyBlock #editPage{
    height: 100%;
    width: 100%;
}
#bodyBlock #editPage div{
    /*border: 2px solid black;*/
}

#editPage .lrBlock #profile_form{
    width: 100%;
    margin-left: 5%;
}







