html,
body {
	height: 100%;
	margin: 0;
}

.wrapper {
	display: flex;
	flex-flow: column;
	height: 100%;
	overflow: hidden;
}

.main {
	display: flex;
	flex-flow: row;
	width: 100%;
}

.wrapper div {
	border: 1px solid grey;
}



.wrapper #navbar {
	flex: 0 1 auto;
    border: 1px solid blue;
    background-color: #0020ff;
}

.wrapper #navbar ul {
	margin: 0px;
}

.wrapper #navbar li {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.wrapper #navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

.wrapper #navbar form {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

.wrapper #navbar input {
    text-align: left;
    font-size: 12px;
}

.wrapper #navbar a:hover {
    background-color: #00ffff;
    color: black;
}



.wrapper .main {
	flex: 1 1 auto;
}



.wrapper .footer {
	flex: 0 1 40px;
}

.wrapper .footer ul {
	margin: 0px;
}

.wrapper .footer li {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.wrapper .footer a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}



.main .child {
	margin: 10px;
}

.main #mainbody {
	flex: 4 0 0;
	display: flex;
	flex-flow: column;
}

.main #mainbody #imageLoc {
	flex: 1 1 0;
	overflow: hidden;
}

.main #mainbody #imageLoc img {
    max-width: 100%;
    max-height: 100%;
	margin-left: auto;
	margin-right: auto;
    display: block;
}

.main #mainbody #mainBodyPara {
	flex: 0 1 auto;
}

.main #mainbody p {
	margin-left: 16px;
	margin-right: 16px;
}



.main #sidebar {
	flex: 1 0 0;
	display: flex;
	flex-flow: column;
}

.main #sidebar #busyness {
	flex: 0 1 auto;
}

.main #sidebar #busyness h5 {
    padding: 0 0 0 0;
    margin: 0;
    text-align: center;
}

.main #sidebar .sWig {
    flex: 1 1 0;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}

.main #sidebar .sWig h4 {
    padding: 0 0 0 15px;
    margin: 5px 0 0 0;
    flex: 0 1 0;
}

.main #sidebar .sWig div {
    flex: 1 1 0;
}

.main #sidebar .sWig img {
	max-width: 40px;
    max-height: 40px;
}

.main #sidebar .sWig #cFriendsInd,
.main #sidebar .sWig #pBooksBlock {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    background: peachpuff;
    border: 2px solid black;
    border-radius: 5px;
    overflow: scroll;
    overflow-x: hidden;
}



.dot {
    height: 25px;
    width: 25px;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
}

.dot-on {
    height: 25px;
    width: 25px;
    border: 2px solid black;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
}